h1{
    font-size: 60;
    font-style:italic;
}
body{
    font-style: italic;
    background-color: blanchedalmond;
    font-size: 30px;
}
#b1{
    background-color: black;
}
#b2{
    background-color: black;
}
h4{
    font-size: 40;
}